@{
    ViewBag.Title = "Home Page";
}


<div class="col-12">
    <div class="jumbotron">
        <h1 align="center">Misión y Visión</h1>
        <p align="center">
            <img class="img-fluid" src="~/Content/adminlte/dist/img/mision-vision.jpeg" width="550" />
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Nuestra Misión</h2>
                </div>
                <div class="card-body">
                    Nuestra empresa tiene como misión fundamental satisfacer “las necesidades de los consumidores de nuestros productos” en el momento presente 
                    sin comprometer el bienestar de las generaciones futuras.

                    La consecución de este objetivo no es sólo una misión económica, de investigación o tecnológica, es una responsabilidad social sostenible que 
                    une a todas las personas que forman parte de nuestra compañía.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Nuestra Visión</h2>
                </div>
                <div class="card-body">
                    En CALUJO apostamos por la seguridad y la integridad de nuestros empleados ofreciendo un trato justo y respetuoso, fomentando la  formación  
                    de manera continua, motivando la detección de oportunidades de mejora, fomentando la consulta, participación e implicación activa del personal 
                    en la gestión y consecución de los objetivos de la empresa.
                </div>
            </div>
        </div>
    </div>
</div>
